<div>
    <h1 id="demo">{{titulo}}</h1>
    <hr>
    <div class="container">
        <div class="card" style="width:400px">
            <img class="card-img-top" src="@/assets/user.png" alt="Card image" style="width:70%">
            <div class="card-body">
              <h4 class="card-title">Usuario</h4>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et suscipit tellus, 
                et aliquet turpis. Nulla elit augue, scelerisque a ullamcorper et, 
                tempus id sem. Suspendisse vulputate condimentum iaculis. 
            </p>
              <a href="#" class="btn btn-primary">Ver Perfil</a>
            </div>
        </div>
    </div>
</div>