$white: #fff;
$black: #2e2e2e;

$principal: #2d5637;
$secundario: #b7db1d;

// Fonts
$regular: 'Raleway';


@font-face {
  font-family: 'Raleway';
  src: url('../../styles/fonts/Raleway-VariableFont_wght.ttf');
}