<div>
  
  <Head></Head>

  <h1>Bienvenido a la pokedex</h1>
  <div class="container-grid" id="myContent">
    <div v-for="p in pokemones" class="cardContainer">
      <div class="card">
        <div class="back face">
            <h2>{{ p.nombre }}</h2>
            <img :src="p.imgBack" alt="ImgBack">
            <div><button @click="verMas(p)" class="btn btn-info">Ver Mas</button></div>
            <h3>Tecnicas:</h3>
            <ul>
              <li v-for="m in p.moves">{{ m }}</li>
            </ul>
        </div>
        <div class="front face">
            <h2>{{ p.nombre }}</h2>
            <h5>No. {{ p.id }}</h5>
            <img :src="p.imgFront" alt="ImgFront">
            <span>Peso: {{ p.peso }}</span>
        </div>
      </div>
    </div>
  </div>
</div>