//@import "../../styles/_variables.scss";

/* inicia header */
/*termina header */
/*Inicia Pokeball */
/*Termina Pokeball*/
/*inicia Mycontent */

h1{
    position: relative;
    top: 25px;
    font-size: 3.5rem;
    text-align: center;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-grid{
    display: grid;
    width: 60%;
    height: 80vh;
    margin: 70px auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    justify-items: center;
    align-items: center;
    background-color: transparent;
}

.card{
    display: grid;
    grid-column: 1fr;
    grid-row: 1fr, 1fr;
    justify-content: center;
    width: 200px;
    height: 350px;
    margin-top: 50px;
    border-radius: 25px;
    text-align: center;
    background-color: #ffffffa6;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s;
    will-change: transform;
}
.front, .back{
    display: grid;
}
.front h2,.front img, .back h2, .back img{
    justify-self: center;
    align-self: center;
}

.back{
    transform: rotateY(180deg);
}

.front,.back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.cardContainer:hover .card{
    transform: rotateY(180deg);
}
/*finaliza my content */